<ion-pane class="welcome-page">
  <ion-header-bar class="bar-assertive">
    <h1 class="title home-page-title" style="text-align:center;"><a href="#">Home Page</a></h1>
    <a class="button button-clear" href="#/3-system-setting">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </a>
  </ion-header-bar>

  <ion-content>
      <div class="branding">
          <img src="img/Logo_02.png">
          <h2>WELCOME, Hokies !</h2>
      </div>

    <div class="list list-inset">
      <a href="#/4-home-address" class="add-location button button-block button-assertive">ADD LOCATION</a>
      <a href="#/7-parking-map" class="go-to-map button button-block button-assertive">GO TO PARKING MAP</a>
    </div>

    <!--<md-content class="md-padding">-->
      <!--<form ng-submit="$event.preventDefault()">-->
        <!--<md-button class="md-raised md-primary" ng-click="openBottomSheet()">-->
          <!--Open Bottom Sheet!-->
        <!--</md-button>-->
      <!--</form>-->
    <!--</md-content>-->
  </ion-content>

  <ion-footer-bar class="bar bar-light">
    <div class="button-bar">
      <button class="not-jingyi button button-clear">
        Not jingyi ?
      </button>

      <a class="log-out-btn button button-clear to-be-red" href="#">
        LOGOUT
        <i class='fa fa-angle-double-right' aria-hidden='true'></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-pane>
