<ion-pane class="welcome-page">
  <ion-header-bar class="bar-assertive">
    <a href="#/2-home-page">
      <button class="button button-clear">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
    </a>

    <h1 class="title" style="text-align:center"><a href="#" style="text-decoration: none; text-align: center">System Settings</a></h1>
    <button class="button button-clear">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
  </ion-header-bar>

  <ion-content class="has-subheader">
    <label class="item item-input">
                <span class="input-label">
                    <i class="material-icons">star_border</i>
                </span>
      <input type="text" placeholder="Setting Favorite Parking Lot">
    </label>

    <label class="item item-input">
                <span class="input-label">
                    <i class="material-icons">home</i>
                </span>
      <input type="text" placeholder="Setting Home Address">
    </label>

    <div class="item item-divider">
    </div>


    <label class="item item-input">
    <span class="input-label">
        <i class="material-icons">alarm</i>
    </span>

      <input type="text" placeholder="Setting Home Address">

      <label class="toggle toggle-dark">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

  </ion-content>

  <ion-footer-bar class="bar bar-light">
    <div class="button-bar">
      <button class="not-jingyi button button-clear">
        Not jingyi ?
      </button>

      <a class="log-out-btn button button-clear to-be-red" href="#">
        LOGOUT
        <i class='fa fa-angle-double-right' aria-hidden='true'></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-pane>
