<div class="add-locations">
    <ion-header-bar class="bar-assertive">
      <a href="#/2-home-page">
          <button class="button button-clear">
            <i class="icon ion-ios-arrow-left"></i>
          </button>
      </a>

      <h1 class="title" style="text-align:center"><a href="#" style="text-decoration: none; text-align: center">Home Address</a></h1>
      <a class="button button-clear" href="#/3-system-setting">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </a>
    </ion-header-bar>

    <div class="bar bar-subheader" style="height: 66px !important;">
      <h2 class="title" style="height: 66px !important; line-height: 66px !important;">INPUT YOUR HOME ADDRESS</h2>
    </div>

    <ion-content class="has-subheader" style="top: 110px !important;">

        <label class="item item-input">
                <span class="input-label">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
          <input type="text" placeholder="Address Line">
        </label>

        <label class="item item-input">
                <span class="input-label">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
          <input type="text" placeholder="Zip Code">
        </label>

        <div class="item item-divider">
          OR
        </div>

        <label class="item item-input">
          <span class="input-label">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
          <a href="#/7-parking-map">
            <input type="text" placeholder="Your Location">
          </a>
        </label>

        <label class="item item-input">
          <span class="input-label">
              <i class="icon ion-map"></i>
          </span>
          <a href="#/7-parking-map">
            <input type="text" placeholder="Choose on Map">
          </a>
        </label>

        <a href="#/5-favor-parking" class="next-button button button-block button-assertive">NEXT</a>
        <a href="#/7-parking-map" class="skip-to-map-button button button-block button-clear">SKIP & GO TO PARKING MAP</a>

    </ion-content>

</div>
