<ion-view view-title="Dashboard" id="logIn">
  <!-- <ion-header-bar class="bar-assertive">
    <h1 class="title" style="text-align:center;">PARK in VT</h1>
  </ion-header-bar> -->
  <ion-content class="padding">
        <div class="branding">
            <img class="log-in-image" src="img/log_in_img.png">
        </div>

        <div class="page-1-input">
            <label class="item item-input">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              <input type="text" placeholder="YOUR PID@VT.EDU">
            </label>
              <br>
            <label class="item item-input">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input type="password" placeholder="PASSWORD">
            </label>
        </div>

        <div class="page-1-login">
            <a href="#/2-home-page" class="button button-block button-assertive">PID LOGIN</a>
            <button class="button button-clear button-positive button-block">
              FORGET PASSWORD ?
            </button>
        </div>
  </ion-content>

  <ion-footer-bar class="bar bar-light">
    <div class="button-bar">
      <button class="not-jingyi button button-clear">
        DO NOT HAVE A PID?
      </button>

      <a class="log-out-btn button button-clear to-be-red" href="#/7-parking-map">
        GUEST ENTRANCE
        <i class='fa fa-angle-double-right' aria-hidden='true'></i>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
