<ion-pane>
    <ion-header-bar class="bar-assertive">
      <a class="button button-clear" href="#/5-favor-parking">
        <i class="icon ion-ios-arrow-left"></i>
      </a>
      <h1 class="title" style="text-align:center"><a href="#" style="text-decoration: none; text-align: center">Personal Settings</a></h1>
      <button class="button button-clear">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
    </ion-header-bar>

    <ion-content class="logged-in-content">
        <div class="branding">
            <img src="img/Logo_03.png">
        </div>

        <div class="content-container">
            <h1>Congratulations !</h1>
            <h2>You are all set !</h2>
            <p>Notifications will alarm you of when you should leave your home. You may Turn Off the Notifications later in System Settings.</p>
        </div>
      <a href="#/7-parking-map" class="logged-in-go-to-map button button-block button-assertive">GO TO VT PARKING MAP</a>
    </ion-content>
 </ion-pane>
